@mixin flex($flex-direction, $justify-content: center, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}
@mixin wh($width, $height) {
  width: $width;
  height: $height;
}

#jinsoo-body {
  @include flex(column, flex-start);
  margin-top: 50px;

  background-color: #fafafa;
  #jinsoo-nav {
    width: 100%;
    @include flex(row, space-evenly);
    border: 1px solid lightgrey;
    background-color: white;
    #logo-container {
      width: 120px;
      margin: 10px 0;
      @include flex(row, space-between);
      .logo-a {
        margin-top: 5px;
        @include wh(25px, 25px);
        text-decoration: none;
        .fa-instagram {
          font-size: 20px;
          color: black;
        }
      }
      #line {
        height: 25px;
        position: relative;
        border: 0;
        border-right: 1px solid black;
      }
      .instagram-a {
        @include wh(70px, 30px);
        #instagram {
          @include wh(100%, 100%);
        }
      }
    }
  }
}

#input-container {
  @include wh(170px, 25px);
  border: 1px solid #fafafa;
  border-radius: 3px;
  #input {
    @include wh(100%, 100%);
    padding-left: 5px;
    color: darkgrey;
  }
  #input::-webkit-input-placeholder {
    background-image: url(http://www.clker.com/cliparts/w/r/Q/0/x/D/search-icon-light-grey-hi.png);
    background-size: 6%;
    background-position: 55px center;
    background-repeat: no-repeat;
    text-align: center;
    text-indent: 0;
    color: lightgrey;
  }
}

#icon-container {
  @include wh(100px, 100%);
  @include flex(row, space-between);
}

.nav-icon {
  width: 18px;
  height: 18px;
}

#jinsoo-main {
  @include flex(row, center, flex-start);
  margin: 45px 85px;
  @include wh(100%, 100%);

  #feeds-container {
    max-width: 615px;
    width: 100%;
    border: 1px solid lightgrey;
    .feeds {
      @include flex(column, stretch, stretch);
      #owner {
        height: 40px;
        background-color: white;
        @include flex(row, space-between);
        #profile-container {
          @include wh(100px, 20px);
          margin-left: 6px;
          @include flex(row, space-between);
          text-decoration: none;
        }
        #more {
          margin-right: 5px;
          position: relative;
          bottom: 5px;
        }
      }
    }
  }
}

.circle-icon {
  @include wh(25px, 25px);
  border: 0.1px solid lightgrey;
  border-radius: 50px;
  object-fit: cover;
}

.owner-name {
  color: black;
  font-size: 11px;
  text-decoration: none;
  font-weight: bold;
  margin-left: 5px;
}

#picture-container {
  @include wh(100.25%, 100%);
  #picture {
    @include wh(100%, 100%);
    object-fit: cover;
  }
}

#contents-container {
  background-color: white;
  padding: 0 5px;
  #contents-icons {
    height: 30px;
    background-color: white;
    @include flex(row, space-between);
    margin-top: 3px;
    padding: 0 5px;
  }
}

#left-icons {
  @include wh(75px, 100%);
  @include flex(row, space-between);
}

#likes {
  @include flex(row, left);
  #likes-icon {
    margin-left: 5px;
  }
}

.contents-reply {
  font-size: 0.5em;
  margin-left: 5px;
}

.small-icon {
  @include wh(17px, 17px);
}

#reply {
  @include flex(column, center, none);
  .reply-owner {
    @include wh(100%, 20px);
    @include flex(row, left);
    #more-button {
      font-size: 3px;
      color: grey;
    }
  }
}

.reply-friends {
  position: relative;
  @include flex(row, space-between);
  .reply-left {
    @include flex(row, left);
  }
  #white-heart {
    @include wh(10px, 10px);
    margin-right: 5px;
  }
}

.minutes-before {
  height: 20px;
  margin: 3px 0 0 5px;
  color: grey;
  font-size: 3px;
}

#reply-container {
  border-top: 1px solid lightgrey;
  background-color: white;
  .input-reply {
    margin-left: 7px;
    @include wh(91%, 95%);
    font-size: 10px;
    border: 0;
    height: 30px;
    &:focus {
      outline: none;
    }
  }
}

.upload-a {
  font-size: 10px;
  font-weight: bold;
  color: rgb(144, 223, 247);
  text-decoration: none;
  border: none;
  background-color: white;
}

@media (max-width: 828px) {
  #aside {
    display: none;
  }
}

#aside {
  margin: 0 15px;
  @include wh(180px, 350px);
  .top {
    @include flex(row, space-between);
    height: 35px;
    margin-bottom: 10px;
    .top-icon {
      @include wh(35px, 35px);
    }
    .top-names {
      font-size: 3px;
      margin: 5px 38px 0px 0px;
      font-weight: bold;
      .top-names-light {
        color: rgb(192, 192, 192);
      }
    }
  }
}

.story {
  background-color: white;
  height: 153px;
  @include flex(column, none, stretch);
  border: 1px solid grey;
  overflow: hidden;
  .story-top {
    @include flex(row, space-between);
    font-size: 10px;
    font-weight: bold;
    padding: 10px 10px 0 10px;
    .story-top-left {
      color: grey;
    }
    .story-top-right {
      color: grey;
      text-decoration: none;
    }
  }
  .story-bot {
    padding: 0 5px;
    height: 100%;
    .story-feed {
      margin-top: 5px;
      @include flex(row, left);
      .story-feed-right {
        margin-left: 5px;
        margin-top: 3px;
        .story-topname {
          font-size: 3px;
          font-weight: bold;
        }
        .story-botname {
          padding-left: 1px;
          color: grey;
          font-size: 3px;
        }
      }
    }
  }
}

.recommend {
  margin-top: 10px;
  height: 130px;
}

.follow {
  position: relative;
  left: 28px;
  color: rgb(94, 164, 255);
}

.rec-bot {
  padding-bottom: 5px;
}

.info {
  margin-top: 15px;
  color: grey;
  font-size: 3px;
}

.corp {
  margin-top: 15px;
}
