$font-Lobster: 'Lobster', cursive;
$font-noto: 'Noto Sans KR', sans-serif;

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

// body {
//   position: relative;
//   width: 100%;
// }

.login {
  position: absolute;
  @include flex-column;
  flex: auto;
  justify-content: space-around;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // width: 480px;
  height: 500px;
  border: 20px solid #fafafa;
  background-color: white;

  .westagram {
    flex-grow: 2;
    padding-top: 30px;
    padding-bottom: 0;
    font: 100% $font-Lobster;
    font-size: 50px;
  }

  .userLogin {
    flex-grow: 3;
    @include flex-column;

    .id,
    .password {
      height: 40px;
      width: 380px;
      margin: 10px;
      padding: 5px;
      padding-left: 10px;
      border: 1px solid #efefef;
      border-radius: 5px;
      background-color: #fafafa;
      font-size: 15px;
    }

    .id {
      margin-top: 20px;
      margin-bottom: 5px;
      background-color: #fafafa;

      &::placeholder {
        color: #9b9b9b;
        font: 100% $font-noto;
        font-size: 15px;
        font-weight: bold;
      }
    }

    .password {
      margin-top: 5px;

      &::placeholder {
        color: #9b9b9b;
        font: 100% $font-noto;
        font-size: 15px;
        font-weight: bold;
      }
    }

    button {
      width: 395px;
      height: 50px;
      border: none;
      border-radius: 5px;
      font: 100% $font-noto;
      font-weight: bold;
      margin-left: 10px;
      background: #b8daf9;
      color: white;
      &:hover {
        cursor: pointer;
      }
    }
    .login-btn-active {
      background-color: #5ca7ee;
    }
  }

  .helpPassword {
    flex-grow: 2;
    padding-top: 20px;
    color: #003569;
    font: 100% $font-noto;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
  }
}
