.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 55px;
  background: #fff;
  box-sizing: border-box;
  border-bottom: 1px solid #dbdbdb;

  .header_wrap {
    height: 100%;
    max-width: 1066px;
    margin: 0 auto;
  }

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;

    .logo {
      display: flex;
      font-family: 'Lobster', cursive;
      justify-content: center;
      align-items: center;
      font-size: 25px;
      padding-left: 20px;

      span {
        display: inline-block;
        text-indent: -9999px;
      }

      img {
        width: 20px;
        height: 20px;
        margin-right: 20px;
        padding-right: 20px;
        border-right: 1px solid gray;
      }
    }

    .input_box {
      width: 200px;
      height: 30px;
      background: whitesmoke;

      input {
        height: 100%;
        width: 100%;
        padding: 0 32px;
        box-sizing: border-box;
        background: #f1f3f5;
        border: 1px solid #ced4da;
        font-size: 16px;
        outline: none;
        background-repeat: no-repeat;
        background: 'src/assets/background-images/pngwing.png' no-repeat;
        background-position: 65px;
        background-size: 14px;
        &:focus {
          background-position: 10px;
        }
        &::placeholder {
          text-align: center;
          font-size: 15px;
        }
        &:focus::-webkit-input-placeholder {
          color: transparent;
        }
      }
    }

    .nav img {
      width: 20px;
      height: 20px;
      margin-right: 20px;
    }
  }
}
